h1,
h2,
h3,
h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav li {
  display: inline;
  margin: 0 1em;
}
p,
li {
  font-family: serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #28aab6;

  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
  background-color: #e6e6e6;
  padding: 10px 2px;
}
h2 {
  border-top: 5px solid #28aab6;
}
h4 {
  color: black;
  line-height: 0.5;
  text-transform: capitalize;
  font-size: 14px;
}
p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 14px;
  margin-bottom: 2px;
}

li:last-child {
  margin-bottom: 0;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.no-bullet-points {
  list-style: none;
}
header {
  background-color: #e6e6e6;
  padding: 10px;
  border-top: 5px solid #28aab6;
  margin-bottom: 30px;
}

aside {
  background-color: #e6e6e6;

  border-top: 5px solid #28aab6;
  border-bottom: 5px solid #28aab6;
  padding: 50px 0;
}

body {
  background-color: ghostwhite;
}

ul {
  margin-bottom: 30px;
}
a:link {
  color: #28aab6;
  text-decoration: none;
  font-size: 20px;
}

a:visited {
  color: #28aab6;
}
a:hover {
  color: #f7081c;
  font-weight: bold;
  text-decoration: underline #f7081c;
}
